:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-link-color: #2196f3;
  --accent-text-color: #ffffff;
  --logo-text-color: #000000;
}

body {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.71;
  background-color: #ffffff;
  letter-spacing: 0.03em;
}

/* Общие параметры для логотипа */
.logo,
.footer-logo {
  font-family: Raleway, sans-serif;
  color: var(--logo-text-color);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
/* Задаю цвет первой части логотипа "Web" */
.logo-web,
.footer-logo-web {
  color: var(--accent-link-color);
}
.footer-logo-studio {
  color: var(--accent-text-color);
}

/* Новигация по сайту  */
.nav-link {
  color: var(--title-text-color);
}

.nav-link:hover,
.nav-link.current,
.nav-link:focus {
  color: var(--accent-link-color);
}

/* Адресс */

.address-link {
  color: var(--primary-text-color);
}
.address-link:focus,
.address-link:hover,
.footer-address-address:focus,
.footer-address-address:hover,
.footer-address-link:focus,
.footer-address-link:hover {
  color: var(--accent-link-color);
}
/* Шапка */
.business-title {
  color: var(--accent-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
}
.business-button {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.87;
  background-color: #2196f3;
  color: var(--accent-text-color);
  cursor: pointer; /* Задан курсор при наведении*/
}
/* Наши Особенности */
.hide-text {
  /* Скрываю текст 
  В учебном материале данную 
  информацию еще не проходили, 
  поэтому взят данный кусок из 
  интернета. В бедующем будет 
  заменен на корректный.*/

  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
/**********************************/

.feature-title {
  font-size: 14px;
  line-height: 1.14;
  color: var(--title-text-color);
  text-transform: uppercase;
}
.feature-text,
.teamlead-text,
.portfolio-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--primary-text-color);
}
/* Чем мы занимаемся */
.work-title,
.tim-title {
  font-size: 36px;
  line-height: 1.16;
  color: var(--title-text-color);
}

.position {
  font-size: 16px;
  line-height: 1.18;
}
.teamlead-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}

/* Подвал */
.footer-address-address {
  color: var(--accent-text-color);
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  font-weight: 400;
}
.footer-address-link {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  font-weight: 400;
}

/********* П О Р Т Ф О Л И О ************/
.filter-button {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  color: var(--title-text-color);
  background-color: #f5f4fa;
  cursor: pointer; /* Задан курсор при наведении*/
}
.filter-button:focus,
.filter-button:hover {
  color: var(--accent-text-color);
  background-color: #2196f3;
}
.portfolio-title {
  color: var(--title-text-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio-text {
  font-size: 16px;
  line-height: 1.87;
}

/* Убираю маркер у всех списков  */
ul {
  list-style: none;
}

/* Убирает подчеркивание*/
.logo,
.nav-link,
.address-link,
.footer-address,
.footer-link,
.footer-logo,
.footer-address-address,
.footer-address-link {
  text-decoration: none;
}
